body{
    font-family: sans-serif;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vw;
}

a{
    color: black;
}

#logo{
    font-family: serif;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
}

#github{
    width: 20vw;
}

#instructions{
  font-size: 2vw;
}


.frame{
    width: 60vw;
    height: 40vw;
    border: 0.5vw solid black;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.title{
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
}