body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start; 
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

#logo{
    font-size: 6vw;
    font-family: serif;
    margin-top: 3vw;
}

#title{
    font-size: 4vw;
    font-family: sans-serif;
    margin-top: 0;
}

#instructions{
  font-size: 2vw;
}

.mapTitle{
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.map{
    border: 0.5vw solid black;
    width: 60vw;
    height: 40vw;
    margin-bottom: 1vw;
}

.legend{
  background: white;
  line-height: 1.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.legend_row{
  display: flex;
  align-items: center;
}

.legend_box {
  flex-shrink: 0;
  width: 1vw;
  height: 1vw;
  margin-right: 1vw;
}

.leaflet-tooltip{
  font-weight: normal;
}

.tooltip_title{
  font-weight: bold;
}